- title='Exstream Corocoro'

doctype html
html
  head
    title #{title}
    meta(charset='utf-8')
    meta(name='viewport', content='width=792, user-scalable=no')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    link(rel='stylesheet' href='css/base.css')
  body
    div#wrapper
      h1
        img(src='img/logo.png')
      div.col
        p#pc1 1
        p#pc2 2
        p#pc3 3
      div.col
        p#pc4 4
        p#pc5 5
        p#pc6 6
      div.col
        p#pc7 7
        p#pc8 8
      div.col
        p#pc9 9
        p#pc10 10
  
    script(type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(type='text/javascript' src='js/nfc.js')
